name: Docker

on:
  push:
    branches:
    - master
    tags:
      - v*
    paths:
      - '**'
      - '!**.md'
      - '!**.yml'
  pull_request:
    paths:
      - '**'
      - '!**.md'
      - '!**.yml'

jobs:
  build:
     runs-on: ubuntu-latest
     steps:
       - uses: actions/checkout@v2
         name: Check out repository
       - uses: elgohr/Publish-Docker-Github-Action@2.12
         name: Build and Push Docker Image
         with:
           name: micro-community/x-edge
           username: ${{ secrets.DOCKER_USERNAME }}
           password: ${{ secrets.DOCKER_PASSWORD }}
